<div class="container-fluid">
  <div class="row">
  <div class="card shadow col-md-6">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Basic Card Example</h6>
    </div>
    <div class="card-body">
        <div class="form-group">
            <input type="email" class="form-control form-control-user" id="Email" placeholder="Email Address">
          </div>
          <div class="form-group">
              <input type="text" class="form-control form-control-user" id="Name" placeholder="Name">
            </div>
            <button (click)="send()" class="btn btn-primary btn-user btn-block">
               Send To parent
            </button>
    </div>
  </div>
</div>
</div>

